body {
  background: #c9c2f9;
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.module {
  width: min(30vw, 30vh);
  min-width: 180px;
  height: min(30vw, 30vh);
  min-height: 180px;
  background: #D9F0FF;
  border-radius: min(2vw, 2vh);
  padding: min(2vw, 2vh);
  margin: min(1vw, 1vh);
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph-canvas {
  width: 100%;
  height: 100%;
}
